var wasm_data = "{{wasm_encoded}}";

{{generated_js}}

function asciiToBinary(str) {
    if (typeof atob === "function") {
        // this works in the browser
        return atob(str);
    } else {
        // this works in node
        return new Buffer(str, "base64").toString("binary");
    }
}

function decode(encoded) {
    var binaryString = asciiToBinary(encoded);
    var bytes = new Uint8Array(binaryString.length);
    for (var i = 0; i < binaryString.length; i++) {
        bytes[i] = binaryString.charCodeAt(i);
    }
    return bytes.buffer;
}

let wasm_module;
__wbg_init(decode(wasm_data)).then(result => wasm_module = result);